.ShowCards-Container {
  margin-top: 300px;
  z-index: 1000;
  padding: 0 200px;
}
.ShowCards-Container .sort-products {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ShowCards-Container .sort-products .sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  gap: 10px;
}
.ShowCards-Container .sort-products .sort-btn p {
  color: gray;
}

.ShowCards-Container .sort-products .sort-btn .icon {
  background-color: #222222;
  color: white;
  border-radius: 0.5em;
  padding: 10px;
  font-size: 30px;
}

.ShowCards-Container .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;
  overflow: hidden;
}

.ShowCards-Container .card-container .card-inner {
  box-sizing: border-box;
  margin: 1rem 0.25em;
  position: relative;
  cursor: pointer;

  transition: .4s;
}

.ShowCards-Container .card-container .card-inner:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ShowCards-Container .card-container .card-inner .icon-heart {
  right: 0;
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  padding: 20px;
}
.ShowCards-Container .card-container .card-inner .red {
  color: red;
}

.ShowCards-Container .card-container .card-inner .heading-and-price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.ShowCards-Container .card-container .card-inner .heading-and-price .title {
  color: gray;
  font-size: 17px;
}
.ShowCards-Container .card-container .card-inner .heading-and-price .price {
  font-size: 20px;
}

.ShowCards-Container .card-container .card-inner .brand-and-add-to-cart {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ShowCards-Container .card-container .card-inner .brand-and-add-to-cart p {
  color: gray;
}

.ShowCards-Container .card-container .card-inner .brand-and-add-to-cart .icon {
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: var(--colorGreen);
}

.ShowCards-Container .card-container .card-inner img {
  width: 100%;
}
/* card id  */

.CatalogCard-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  padding: 120px 200px;
}

.CatalogCard-container .image-container{
  width: 50%;
}

.CatalogCard-container .image-container img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.CatalogCard-container .catalogcard-data{
  width: 40%;
  padding: 20px;
  height: 50vh;
  position: relative;
}



.CatalogCard-container .catalogcard-data .card-text h3{
  text-decoration: underline;
  font-size: 30px;
}
.CatalogCard-container .catalogcard-data .card-text p{
  color: gray;
}

.CatalogCard-container .catalogcard-data .card-text a {
  color: gray;
}

.CatalogCard-container .catalogcard-data .price{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin:20px 0;
}

.CatalogCard-container .catalogcard-data .price span{
  font-size: 30px;
}

.CatalogCard-container .catalogcard-data .price strike{
  font-size: 20px;
  color: gray;
}

.CatalogCard-container .catalogcard-data .line{
  margin-bottom: 50px;
}

.CatalogCard-container .catalogcard-data .buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.CatalogCard-container .catalogcard-data .buttons button{
  width: 90%;
  background-color: transparent;
  border: 1px solid gray;
  height: 60px;
  border-radius: .5em;
  cursor: pointer;
}

.CatalogCard-container .catalogcard-data .buttons .icon{
  background-color: var(--colorGreen);
  width: 10%;
  padding: 20px;
  border-radius: .5em;
  cursor: pointer;
  font-size: 20px;
}

.CatalogCard-container .catalogcard-data .card-btn-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.CatalogCard-container .catalogcard-data .card-btn-details p {
  color: gray;
  font-size: 20px;
}

.CatalogCard-container .catalogcard-data .card-btn-details .icon{
  font-size: 20px;
  color: gray;
}

.CatalogCard-container .catalogcard-data .d-none{
  opacity: 0;
  transition: .4s;
}
.CatalogCard-container .catalogcard-data .card-details{
  color: gray;
  margin-top: 20px;
  opacity: 1;
  transition: .4s;
}







@media screen and (max-width:1200px) {
  .CatalogCard-container{
    flex-direction: column;
    padding: 120px 20px;

  }
  .CatalogCard-container .image-container{
    width: 100%;
  }
  .CatalogCard-container .catalogcard-data{
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .ShowCards-Container .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ShowCards-Container .card-container .card-inner {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .ShowCards-Container .card-container .card-inner {
    max-width: calc(25% - 1em);
  }
}

@media screen and (max-width: 1200px) {
  .ShowCards-Container {
    padding: 0 20px;
  }
}

@media screen and (max-width:768px) {
  .ShowCards-Container .card-container .card-inner {
    flex: 1 0 200px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      padding: 5px;
      border-radius: .5em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .ShowCards-Container {
    padding: 0px 150px;
  }
}
