@import url("./Navbar.css");
@import "./Header.css";
@import './Swiper.css';
@import './ShowCardsContainer.css';
@import './MakeAccount.css';
@import './SmallComponents.css';
@import './UserDash.css';
@import './Cart.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

:root{
  --greenColor: #c9e66f;
  --boxShadow : rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.global-button{
  background-color: var(--greenColor);
  color: black;
  border: none;

  margin: 20px 0;

  border-radius: .5em;

  height: 60px;
  width: 120px;

  cursor: pointer;

  transition: .4s;
}

.global-button:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: translateY(-5px);
}

@media screen and (max-width:768px) {
  .global-button{
    width: 100%;
  }
}