.headerSwiper{
    margin-top: -200px;
  }
  
  .mySwiper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    user-select: none;
    z-index: 10;
    opacity: 1;
  }
  
  .swiper {
    width: 50%;
    height: auto;
    cursor: grab;
  }
  .swiper:active{
    cursor: grabbing;
  }
  
  .swiper-slide {
    overflow: hidden;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    color:  transparent !important;
  }
  
  
  
  @media  screen and (max-width:1000px) {
    .swiper{
      width: 100%;
    }
    .headerSwiper{
      margin-top: 0px;
    }
    .swiper-button-next,
    .swiper-button-prev{
    display: none;
    color: transparent !important;
    background-color: transparent !important;
  }
  }
  
  
  